html, body {
  color: #e7f3f9;
  font-family: 'Noto Sans', sans-serif;  
  font-weight: 100;
}

body {
	background-color: #a2a2a5;
	margin-top: 70px;
	margin-bottom: 90px;
}

.nav-container {
	justify-content: flex-start;
}

.navbar-brand {
	padding-top: 0px;
	margin-right: 0px;
}

.yahoo-img {
	height: 29;
	width: 134px;
}

.google-img {
	height: 18;
	width: 144px;
}

#top {
	float: right;
}

a {
	color: white;
	text-decoration: underline;
}
a:link { /* unvisited */
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: white;
}
a:active { /* clicked */
	color: white;
}

a.reverse {
	color: black;
	text-decoration: none;
}
a.reverse:link { /* unvisited */
	color: black;
}
a.reverse:visited {
	color: black;
}
a.reverse:hover {
	color: black;
}
a.reverse:active { /* clicked */
	color: black;
}

.normal-text {
	/*color: #a2a2a5;*/
	color: #656580;
}

.field {
	background-color: #eee;
}

.border-med {
	border-width: medium !important;
}

.border-thick {
	border-width: thick !important;
}

.card-body {
	background-color: white;
}

.weather-card-location {
	/*color: black;*/		
	/*color: #0000b7;*/
	color: #003a96;
}

.weather-collapse-button {
	display: none;
	height: 28px;
}

.weather-collapse-image {
	height: 17px;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 80px;
}

.subtitle {
  font-size: 35px;
}

.error-text {
  font-size: 36px;
  color: #a05555;
}

.links > a {
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

/* Phone Landscape */
@media screen and (min-width: 200px) and (orientation: landscape) {
	html, body {
		/*background-color: blue;*/
  }

  #welcomeArea {
  	margin-top: 60px;
  }

  .instructions {
  	font-size: 12px;
  }

  .title {
  	font-size: 36px;
  }

  .subtitle {
  	font-size: 20px;
  }

  .register-label {
  	font-size: 20px;
  }

  .login-label {
  	font-size: 20px;
  }

  #navFooter {
  	font-size: 8px;
  }

  #navFooter {
  	font-size: 8px;
  	height: 50px;
  }

  .footer-container {
  	height: 50px;
  }

  .footer-navbar-text {
  	height: 50px;
  }

  .google-img {
		height: 18px;
		width: 80px;
	}

	.yahoo-img {
		height: 18px;
		width: 80px;
	}

	#top {
		font-size: 10px;
	}

	.weather-card-location {
		font-size: 14px;
	}

	.weather-collapse-button {
		display: initial;
		height: 28px;
	}

	.weather-collapse-image {
		height: 17px;
	}

	.weather-date-display {
		font-size: 18px;
	}

	.weather-temp-display {
		font-size: 3.5rem;
	}
}
/* End Phone Landscape */

/* Phone Portrait */
@media screen and (min-width: 200px) and (orientation: portrait) {
	html, body {
		/*background-color: black;*/
  }

	.navbar .navbar-brand {
  	font-size: 12px;
  }

  a.navbar-brand {
		margin-right: 0px;		
	}

	.navbar-toggler {
		margin-left: auto !important;
	}

  #searchLocationInputForm {
  	margin-left: 0em !important;
  }

  #searchLocationInput {
  	width: 120px;
  	min-width: 100px;
  	max-width: 140px;
  }

  #navFooter{
  	font-size: 8px;
  }

  .google-img {
		height: 14px;
		width: 60px;
	}

	.yahoo-img {
		height: 16px;
		width: 114px;
	}

	#welcomeArea {
		margin-top: 50px;
	}

	.title {
  	font-size: 36px;
  }

  .subtitle {
  	font-size: 20px;
  }

  .register-label {
  	font-size: 20px;
  }

  .login-label {
  	font-size: 20px;
  }

	.weather-card-location {
		font-size: 24px;
	}

	.weather-collapse-button {
		display: initial;
		height: 28px;
	}

	.weather-collapse-image {
		height: 17px;
	}

	.weather-date-display {
		font-size: 20px;
	}

	.weather-temp-display {
		font-size: 4rem;
	}
}
/* End Phone Portrait */

/* Tablet Landscape */
@media screen and (min-width: 600px) and (min-height: 500px) and (orientation: landscape) {
	html, body {
		/*background-color: purple;*/
  }

  #searchLocationInputForm {
  	margin-left: 1em !important;
  }

  #searchLocationInput {
  	min-width: 300px;
  	max-width: 400px;
  }

  #welcomeArea {
		margin-top: 150px;
	}

	.title {
	  font-size: 48px;
	}

	.subtitle {
	  font-size: 32px;
	}

	.instructions {
  	font-size: 24px;
  }

  .weather-card-location {
		margin-right: 80px !important;
		font-size: 24px;
	}

	.weather-collapse-button {
		display: initial;
		height: 28px;
	}

	.weather-collapse-image {
		height: 17px;
	}

	.weather-date-display {
		font-size: 24px;
	}

	.weather-temp-display {
		font-size: 4.5rem;
	}
}
/* End Tablet Landscape */

/* Tablet Portrait */
@media screen and (min-width: 600px) and (orientation: portrait) {
	html, body {
		/*background-color: green;*/
  }

  .navbar .navbar-brand {
  	font-size: 18px;
  }

  a.navbar-brand {
		margin-right: 0px;
	}

  #searchLocationInputForm {
  	margin-left: 1em !important;
  }

  #searchLocationInput {
  	min-width: 300px;
  	max-width: 400px;
  }

  #searchLocationSubmit {
  	font-size: 14px;
  }

  #navFooter{
  	font-size: 12px;
  }

  .google-img {
		height: 18px;
		width: 80px;
	}

	.yahoo-img {
		height: 18px;
		width: 100px;
	}

  #welcomeArea {
		margin-top: 130px;
	}

	.title {
	  font-size: 48px;
	}

	.subtitle {
	  font-size: 32px;
	}

	.instructions {
  	font-size: 24px;
  }

	.weather-card-location {
		margin-right: 0px !important;
		font-size: 24px;
	}

	.weather-collapse-button {
		display: initial;
		height: 28px;
	}

	.weather-collapse-image {
		height: 17px;
	}

	.weather-date-display {
		font-size: 18px;
	}

	.weather-temp-display {
		font-size: 4.0rem;
	}
}
/* End Tablet Portrait */

/* Tablet Portrait */
@media screen and (min-width: 1025px) {
	html, body {
		/*background-color: white;*/
  }

  #welcomeArea {
		margin-top: 100px;
	}

	.title {
	  font-size: 54px;
	}

	.subtitle {
	  font-size: 32px;
	}

	.instructions {
  	font-size: 24px;
  }

	#searchLocationInput {
  	min-width: 300px;
  	max-width: 400px;
  }

	.weather-card-location {
		margin-right: 125px !important;
		font-size: 30px;
	}

	.weather-collapse-button {
		display: initial;
		height: 28px;
	}

	.weather-collapse-image {
		height: 17px;
	}

	.weather-date-display {
		font-size: 28px;
	}

	.weather-temp-display {
		font-size: 5.5rem;
	}
}
